# <center>ĐỒ ÁN CUỐI KÌ: LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU</center>

| MSSV     | Họ và tên       
|----------|---------------
| 19120725  | Lê Trường Vũ 
| 19120615 | Hùng Ngọc Phát

## Môi trường code

In [1]:
import sys
sys.executable

'/opt/miniconda3/envs/min_ds-env/bin/python'

---

## Import các thư viện cần thiết

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from ast import literal_eval

---

## Thu thập dữ liệu

Nhóm sẽ dùng dữ liệu đã được thu thập sẵn là file "anime.csv" đính kèm; Đây là bộ dữ liệu chứa những thông tin về các Anime(Hoạt hình Nhật Bản)....

---

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [3]:
animes_df = pd.read_csv('animes.csv')
animes_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [4]:
num_cols = len(animes_df.columns)
num_rows = len(animes_df.index)
print('Số dòng: ',num_rows)
print('Số cột: ',num_cols)

Số dòng:  19311
Số cột:  12

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo như mô tả của dữ liệu thì một dòng cho biết thông tin của một 'Anime'. Có vẻ như không có dòng nào bị 'lạc loài'

### Dữ liệu có các dòng bị lặp không?

Nhóm sẽ kiểm tra vụ này và lưu kết quả vào biến `have_duplicated_rows`. Biến này sẽ có giá trị True nếu dữ liệu có các dòng bị lặp và có giá trị False nếu ngược.

In [5]:
have_duplicated_row = all(animes_df.duplicated())
have_duplicated_row

False

Như vậy nghĩa là không có dòng nào bị lặp

### Mỗi cột có ý nghĩa gì?

.................................................

---

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

`dtype` của mỗi cột trong `animes_df` sẽ lưu kết quả vào series `col_dtypes`; series này có index là tên cột.

In [6]:
col_dtypes = animes_df.dtypes
col_dtypes

uid             int64
title          object
synopsis       object
genre          object
aired          object
episodes      float64
members         int64
popularity      int64
ranked        float64
score         float64
img_url        object
link           object
dtype: object

Như vậy `animes_df` có 6 cột có `dtype` `object` gồm: "title", "synopsis", "genre", "aired", "img_url", "link".
Để tìm hiểu 'dtype' thật sự của các phần tử trong các cột này, nhóm viết hàm `open_object_dtype` nhận đầu vào là một cột `s` (series) có `dtype` là `object` và trả về tập các kiểu dữ liệu thật sự có trong cột này

In [7]:
def open_object_dtype(s):
    dtypes = set()
    dtypes = set(s.apply(type))   
    return dtypes

In [8]:
print('title: ',open_object_dtype(animes_df['title']))
print('synopsis: ',open_object_dtype(animes_df['synopsis']))
print('genre: ',open_object_dtype(animes_df['genre']))
print('aired: ',open_object_dtype(animes_df['aired']))
print('img_url: ',open_object_dtype(animes_df['img_url']))
print('link: ',open_object_dtype(animes_df['link']))

title:  {<class 'str'>}
synopsis:  {<class 'str'>, <class 'float'>}
genre:  {<class 'str'>}
aired:  {<class 'str'>}
img_url:  {<class 'str'>, <class 'float'>}
link:  {<class 'str'>}

Ngoài ra ta còn có các cột `episodes`, `ranked` tuy các dữ liệu toàn là số nguyên nhưng vì có các giá trị `NaN` nên `dtype` sẽ phải là `float`

---

## Tiền xử lý

### Chuyển dtype của cột "aired" sang datetime

Ta sẽ chia cột `aired` thành hai cột riêng nữa là `aired_from` và `aired_to`<br>
Sau đó thì chuyển `dtype` của hai cột này sang `datetime`

In [9]:
#Tách cột aired sang 2 cột aired_from, aired_to và thêm vào animes_df
animes_df[['aired_from', 'aired_to']] = animes_df['aired'].str.split('to', 1, expand = True)
#Chuyển dtype sang datetime
animes_df['aired_from'] = pd.to_datetime(animes_df['aired_from'], errors='coerce')
animes_df['aired_to'] = pd.to_datetime(animes_df['aired_to'], errors='coerce')

In [10]:
print('aired_from type: ',animes_df['aired_from'].dtype)
print('aired_to type: ', animes_df['aired_from'].dtype)

aired_from type:  datetime64[ns]
aired_to type:  datetime64[ns]

Sau khi đã tách xong thì ta sẽ xóa luôn cột `aired` do không cần thiết nữa

In [11]:
del animes_df['aired']

### Chuyển các phần tử trong cột "anime" sang dạng list

Hiện tại thì các phần tử trong cột `anime` có dạng `str`. <br>
Vd: "['Comedy', 'Sports', 'Drama', 'School', 'Shounen']"

In [12]:
animes_df['genre'] = animes_df['genre'].apply(literal_eval)

In [13]:
print('genre type: ',open_object_dtype(animes_df['genre']))

genre type:  {<class 'list'>}

### Chuyển dtype của cột 'synopsis' và 'img_url' sang str

Do cả hai cột `synopsis` và `img_url` đều có giá trị "" nên `dtype` mới có 2 kiểu dữ liệu là `float` và `str`. <br>
Bây giờ ta sẽ chuyển tất cả sang kiểu `str`

In [14]:
    animes_df['synopsis'] = animes_df['synopsis'].astype(str)
animes_df['img_url'] = animes_df['img_url'].astype(str)

In [15]:
print('synopsis type: ', open_object_dtype(animes_df['synopsis']))
print('img_url type: ', open_object_dtype(animes_df['img_url']))

synopsis type:  {<class 'str'>}
img_url type:  {<class 'str'>}

---

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

Ta sẽ xếp `aired_from` và `aired_to` vào nhóm numeric. <br>

Vậy ta sẽ có 7 cột thuộc nhóm numeric: `episodes`, `members`, `popularity`, `ranked`, `score`, `aired_from` và `aired_to`<br>

Với mỗi cột numeric ta sẽ tính tỉ lệ % giá trị thiếu (từ 0 đến 100), min, max. Kết quả lưu vào dataframe `nume_col_profiles_df`

Dataframe này có 3 dòng là "missing_ratio", "min", "max" và 7 cột là `episodes`, `members`, `popularity`, `ranked`, `score`, `aired_from`, `aired_to`

In [16]:
def missing_ratio(s):
    return s.isnull().mean()*100

nume_col_profiles_df = animes_df[['episodes','members', 'popularity', 'ranked', 'score', 'aired_from', 'aired_to']].agg([missing_ratio, min, max])
nume_col_profiles_df

,episodes,members,popularity,ranked,score,aired_from,aired_to
missing_ratio,3.655947,0.0,0.0,16.633007,2.998291,1.926363,52.829993
min,1.000000,25.0,1.0,1.000000,1.250000,1917-01-01 00:00:00,1962-02-25 00:00:00
max,3057.000000,1871043.0,16338.0,14675.000000,9.230000,2021-01-01 00:00:00,2020-09-17 00:00:00

Hmm cột max của `aired_from` có năm đến 2071...Hmmm....

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Ta có 5 cột thuộc nhóm categorical: `uid`, `title`, `synopsis`, `img_url`, `link`<br>

Với mỗi cột categorical, bạn tính tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị khác nhau (không xét giá trị thiếu), list/array các giá trị khác nhau (không xét giá trị thiếu). Kết quả lưu vào dataframe `cate_col_profiles_df`<br>

`cate_col_profiles_df` có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals" và 5 cột là `uid`, `title`, `synopsis`, `img_url`, `link`

In [17]:
def missing_ratio(s):
    return s.isna().mean()*100
def num_diff_vals(s):
    return s.nunique()
def diff_vals(s):
    return s.dropna().unique()
cate_col_profiles_df = animes_df[['uid', 'title', 'synopsis', 'img_url', 'link']].agg([missing_ratio, num_diff_vals, diff_vals])

In [18]:
cate_col_profiles_df

,uid,title,synopsis,img_url,link
missing_ratio,0.0,0.0,0.0,0.0,0.0
num_diff_vals,16216,16214,15195,16052,16216
diff_vals,"[28891, 23273, 34599, 5114, 31758, 37510, 199,...","[Haikyuu!! Second Season, Shigatsu wa Kimi no ...",[Following their participation at the Inter-Hi...,[https://cdn.myanimelist.net/images/anime/9/76...,[https://myanimelist.net/anime/28891/Haikyuu_S...

Như vậy không có cột nào có giá trị thiếu...không có điều gì bất thường